<h3 class="center">{{matches.length}} matches found</h3>
<div class="d-flex justify-content-center flex-wrap px-auto" style="width: 100%;">
{{#each matches}}

<div class="user-card mx-3 mb-4">
    <div class="d-flex align-items-center mb-3">
        <div class="circle-crop me-2" style="width:50px;height:50px;display:inline-flex">
            {{#if user.profilePic}}
            <img src="/uploads/{{user.profilePic}}">
            {{else}}
            <img src="/images/Profile-PNG-File.png">
            {{/if}}
        </div>
        <span class="fs-4">{{this.username}}</span>
    </div>
    <div class="row mb-2">
        <span class="fw-bold col-auto" style="width: 120px;">Can speak</span> 
        <div class="col">
            {{#each this.lang_speak}}
            <div>
                <img src="/images/{{this}}.svg" class="lang-flag">
                <span class="lang-name me-1">{{this}}</span>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="row">
        <span class="fw-bold col-auto" style="width: 120px;">Wants to learn</span>
        <div class="col">
            {{#each this.lang_learn}}
            <div>
                <img src="/images/{{this}}.svg" class="lang-flag">
                <span class="lang-name me-1">{{this}}</span>
            </div>
            {{/each}}
        </div>
    </div>
    
</div>

{{/each}}
</div>

<script>
    const spans = [...document.querySelectorAll('.lang-name')];
    for (lang of spans) {
      lang.innerText = getLanguageName(lang.innerText)
    }
</script>