{{#if errorMessage}}
  <div class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-2"></i>
    {{errorMessage}}
  </div>
{{/if}}

<div class="content-box" style="width: 35%; position:relative">
    <h2 class="mb-3 center">Welcome to your profile</h2>
    <div class="mb-3 mx-auto circle-crop">
        {{#if user.profilePic}}
        <img id="profile-pic-preview" src="/uploads/{{user.profilePic}}">
        {{else}}
        <img id="profile-pic-preview" src="/images/Profile-PNG-File.png">
        {{/if}}
    </div>
    <button id="edit-pfp-btn" class="btn btn-secondary btn-sm circle-btn" style="position: absolute;top:230;right:200">
        <i class="bi bi-pencil-square"></i>
    </button>
    <div id="save-cancel-pfp" class="d-flex justify-content-center mt-3" style="visibility: hidden;">
      <form action="/auth/profile/edit/pfp" method="POST" enctype="multipart/form-data">
        <input type="file" id="edit-pfp" name="edit-pfp" style="display: none;" onchange="previewImage(event)" />
        <button type="submit" class="btn btn-secondary btn-sm mini-btn mb-3">Save</button>
        <button type="button" class="btn btn-secondary btn-sm mini-btn mb-3" onclick="cancel(`pfp`)">Cancel</button>
      </form>
    </div>

    <div class="row fs-6 mb-2">
        <p class="col-4 fw-bold">Username</p>
        <div class="col" id="username">
          <span>{{user.username}}</span>
          <button class="btn btn-secondary btn-sm mini-btn" onclick="edit(`username`)">Edit</button>
        </div>
    </div>
    <div class="row fs-6 mb-2">
        <p class="col-4 fw-bold">Email</p>
        <div class="col" id="email">
          <span>{{user.email}}</span>
          <button class="btn btn-secondary btn-sm mini-btn" onclick="edit(`email`)">Edit</button>
        </div>
    </div>
    <div class="row fs-6 mb-2">
        <p class="col-4 fw-bold">Gender</p>
        <div class="col" id="gender">
          <span>{{user.gender}}</span>
          <button class="btn btn-secondary btn-sm mini-btn" onclick="edit(`gender`)">Edit</button>
        </div>
    </div>
    <div class="row fs-6 mb-2">
        <p class="col-4 fw-bold">Birthdate</p>
        <div class="col" id="birthdate">
          <span>{{user.birthdate}}</span>
          <button class="btn btn-secondary btn-sm mini-btn" onclick="edit(`birthdate`)">Edit</button>
        </div>
    </div>
    <div class="row fs-6 mb-4">
        <p class="col-4 fw-bold">Country</p>
        <div class="col" id="country">
          <span>{{user.country}}</span>
          <button class="btn btn-secondary btn-sm mini-btn" onclick="edit(`country`)">Edit</button>
        </div>
    </div>

    <div class="row fs-6 mb-2">
        <p class="col-4 fw-bold">I can speak</p>
        <div class="col">
          <div id="lang_speak">
            {{#each user.lang_speak}}
              <div class="me-1">
                <img src="/images/{{this}}.svg" class="lang-flag">
                <span class="lang-name">{{this}}</span>
              </div>
            {{/each}}
            <button class="btn btn-secondary btn-sm mini-btn" onclick="editLang('lang_speak')">Edit</button>
          </div>
          <form action="/auth/profile/edit/lang_speak" method="POST" id="lang_speak-edit"></form>
        </div>
    </div>

    <div class="row fs-6 mb-2">
        <p class="col-4 fw-bold">I want to learn</p>
        <div class="col">
          <div id="lang_learn">
            {{#each user.lang_learn}}
              <div class="me-1">
                <img src="/images/{{this}}.svg" class="lang-flag">
                <span class="lang-name">{{this}}</span>
              </div>
            {{/each}}
            <button class="btn btn-secondary btn-sm mini-btn" onclick="editLang('lang_learn')">Edit</button>
          </div>
          <form action="/auth/profile/edit/lang_learn" method="POST" id="lang_learn-edit"></form>
        </div>
    </div>

    <form action="/auth/profile/delete" method="GET">
        <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-danger">Delete Account</button>
        </div>
    </form>
</div>

<script>
  document.getElementById('edit-pfp-btn').addEventListener('click', function() {
      document.getElementById('edit-pfp').click();
  });

  // populate languages
    const speakList = [...document.querySelectorAll('#lang_speak .lang-name')];
    for (lang of speakList) {
      lang.innerText = getLanguageName(lang.innerText)
    }

    const learnList = [...document.querySelectorAll('#lang_learn .lang-name')];
    for (lang of learnList) {
      lang.innerText = getLanguageName(lang.innerText)
    }

  function editLang(list) {
    const languages = Object.keys(langList).sort((a,b) => {
            if (langList[b] < langList[a]) return 1
            if (langList[a] < langList[b]) return -1
            if (langList[a] == langList[b]) return 0
          })
    let currentList_el = list == "lang_speak" ? speakList : learnList
    let inverseList_el = list == "lang_speak" ? learnList : speakList
    let currentList = currentList_el.map(el => el.innerText)
    let inverseList = inverseList_el.map(el => el.innerText)
    const list_edit = document.getElementById(list+"-edit");
    document.getElementById(list).style.display = "none"
    for (lang of languages) {
      let langName = getLanguageName(lang)
      let attr = currentList.includes(langName) ? "checked" : inverseList.includes(langName) ? "disabled" : ""
      list_edit.innerHTML += `
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="${list}" value="${lang}" id="speak-${lang}" ${attr}>
          <label class="form-check-label" for="speak-${lang}"><img src="/images/${lang}.svg" class="lang-flag"> ${langName}</label>
        </div>`
    }
    list_edit.innerHTML += `
      <button type="submit" class="btn btn-secondary btn-sm me-2 mini-btn">Save</button>
      <button type="button" class="btn btn-secondary btn-sm mini-btn" onclick="cancelLang('${list}')">Cancel</button>
      `
  }

  function cancelLang(list) {
    document.getElementById(list).style.display = "block"
    const editChildren = [...document.querySelectorAll(`#${list}-edit *`)]
    editChildren.forEach(el => el.remove())
  }

  function previewImage(event) {
    const reader = new FileReader();
    reader.onload = function(){
      const preview = document.getElementById('profile-pic-preview');
      preview.src = reader.result;
    }
    reader.readAsDataURL(event.target.files[0]);
    document.getElementById('save-cancel-pfp').style.visibility = "visible"
  }

  function edit(field) {
    if (field == 'pfp') {
      document.getElementById('save-cancel-pfp').style.visibility = "hidden"
      return
    }

    const field_el = document.getElementById(field)

    if (field == 'gender') {
      let male = '{{user.gender}}' == 'male' ? 'checked' : ""
      let female = '{{user.gender}}' == 'female' ? 'checked' : ""
      let other = '{{user.gender}}' == 'other' ? 'checked' : ""
      field_el.innerHTML = `
        <form action="/auth/profile/edit/gender" method="POST" class="d-flex align-items-center">
          <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="male", value="male" ${male}>
          <label class="form-check-label me-2" for="male">Male</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="female", value="female" ${female}>
            <label class="form-check-label me-2" for="female">Female</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="other", value="other" ${other}>
            <label class="form-check-label me-2" for="other">Other</label>
          </div>
          <button type="submit" class="btn btn-secondary btn-sm me-2 mini-btn">Save</button>
          <button type="button" class="btn btn-secondary btn-sm mini-btn" onclick="cancel('gender')">Cancel</button>
        </form>`
        return
    }

    if (field == 'birthdate') {
      field_el.innerHTML = `
        <form action="/auth/profile/edit/birthdate" method="POST" class="d-flex align-items-center">
          <input type="date" id="birthdate" name="birthdate" class="form-control me-2">
          <button type="submit" class="btn btn-secondary btn-sm me-2 mini-btn">Save</button>
          <button type="button" class="btn btn-secondary btn-sm mini-btn" onclick="cancel('birthdate')">Cancel</button>
        </form>`
        return
    }
 
    if (field == 'country') {
      field_el.innerHTML = `
        <form action="/auth/profile/edit/country" method="POST" class="d-flex align-items-center">
          <select class="form-select me-2" id="countrySelect" name="country"></select>
          <button type="submit" class="btn btn-secondary btn-sm me-2 mini-btn">Save</button>
          <button type="button" class="btn btn-secondary btn-sm mini-btn" onclick="cancel('country')">Cancel</button>
        </form>`
        populateCountries()
        return
    }

    let fieldValue = field == 'username' ? `{{ user.username }}` 
      : field =='email' ? `{{ user.email }}` : ""
    field_el.innerHTML = `
    <form action="/auth/profile/edit/${field}" method="POST" class="d-flex align-items-center">
      <input type="text" name="${field}" value="${fieldValue}" class="form-control me-2 mb-2">
      <button type="submit" class="btn btn-secondary btn-sm me-2 mini-btn">Save</button>
      <button type="button" class="btn btn-secondary btn-sm mini-btn" onclick="cancel('${field}')">Cancel</button>
    </form>`
  }

  function cancel(field) {
    if (field == 'pfp') {
      document.getElementById('profile-pic-preview').src = "/uploads/{{user.profilePic}}"
      document.getElementById('save-cancel-pfp').style.visibility = "hidden"
      return
    }

    const field_el = document.getElementById(field)
    let fieldValue = field == 'username' ? `{{ user.username }}` 
      : field =='email' ? `{{ user.email }}`
      : field =='gender' ? `{{ user.gender }}`
      : field =='birthdate' ? `{{ user.birthdate }}` 
      : field =='country' ? `{{ user.country }}` 
      : ""
    field_el.innerHTML = `
      <span>${fieldValue}</span>
      <button class="btn btn-secondary btn-sm mini-btn" onclick="edit('${field}')">Edit</button>`
  }

  async function populateCountries() {
    const countrySelect = document.getElementById('countrySelect');
      // Fetch list of countries
      try {
          const response = await fetch('https://restcountries.com/v3.1/all');
          const countries = await response.json();
          countries.sort((a,b) => {
            if (b.name.common < a.name.common) return 1
            if (a.name.common < b.name.common) return -1
            if (a.name.common == b.name.common) return 0
          })

          // Populate the country select element
          countries.forEach(country => {
              countrySelect.innerHTML += `
              <option value="${country.name.common}">${country.name.common}</option>`
          });
      } catch (error) {
          console.error('Error fetching countries:', error);
      }
  }
</script>