<div class="d-flex">
<div class="card text-left" id="manageClass">
  <h5 class="card-header center">Manage Class</h5>
  {{#each classes}}
  <div class="card-body" id="{{this._id}}-manage" style="display: none;">
    <a href="/users/{{this.student._id}}" class="link-text">
    <div class="d-flex align-items-center my-3">
          <div class="circle-crop me-2" style="width:50px;height:50px;display:inline-flex">
            {{#if this.student.profilePic}}
            <img src="{{this.student.profilePic}}">
            {{else}}
            <img src="/images/Profile-PNG-File.png">
            {{/if}}
          </div>
          <span class="fs-5">{{this.student.username}}</span>
    </div></a>

    <div class="row mb-3">
        <span class="card-text col"> 
          <img src="/images/{{this.language}}.svg" class="lang-flag">
          <span class="lang-name">{{this.language}}</span>
        </span>
    </div>

    <div class="row mb-3">
      <span class="card-text col stylize">{{this.level}}</span>
    </div>

    <div class="row mb-3">
        <span class="card-text col stylize">{{this.locationType}}</span>
        {{#if this.location}}
        <span>({{this.location}})</span>
        {{/if}}
    </div>

    <div class="row mb-3">
        <span class="card-text col">
          <span class="stylize">{{this.classType}}</span>
          {{#if this.maxGroupSize}}
          <span>(max. {{this.maxGroupSize}} students)</span>
          {{/if}}
        </span>
    </div>

    <div class="row mb-3">
      <span class="card-text col"><i class="bi bi-calendar-fill me-2"></i><span class="date">{{this.date}}</span></span>
    </div>

    <div class="row mb-3">
      <span class="card-text col"><i class="bi bi-clock-fill me-2"></i>{{this.timeslot}} - {{this.endTime}}</span>
    </div>

    <div class="d-flex flex-column" style="width: 60%;">
        <form action="/account/inbox" method="POST" style="width: 100%;">
          <input type="hidden" value="{{this.student._id}}" name="targetUserId">
          <button class="btn btn-sm btn-primary mb-2" style="width: 100%;"><i class="bi bi-envelope-fill me-2"></i>Message {{this.student.username}}</button>
        </form>
        {{#unless this.isPast}}
        <button class="btn btn-sm btn-secondary mb-2" onclick="pickNewDate()"><i class="bi bi-calendar2-x-fill me-2"></i>Reschedule</button>
        <a href="/account/classes/{{this._id}}/cancel" class="btn btn-sm btn-danger mb-2"><i class="bi bi-x-circle-fill me-2"></i>Cancel</a>
        {{/unless}}
    </div>
  </div>
  {{/each}}
</div>

<div style="width: 80%;">
  <h3 class="center my-3">My Calendar</h3>
  <div id="calendar"></div>
</div>
</div>

{{#each classes}}
<div class="card calendar-card text-left mx-3 mb-4" id="{{this._id}}" style="display: none;">
  <h5 class="card-header center"><span class="fs-6 date">{{this.date}}</span><br>{{this.timeslot}}</h5>
  <div class="card-body">
    <a href="/users/{{this.student._id}}" class="link-text">
    <div class="d-flex align-items-center mb-2">
          <div class="circle-crop me-2" style="width:50px;height:50px;display:inline-flex">
            {{#if this.student.profilePic}}
            <img src="{{this.student.profilePic}}">
            {{else}}
            <img src="/images/Profile-PNG-File.png">
            {{/if}}
          </div>
          <span class="fs-5">{{this.student.username}}</span>
    </div></a>

    <div class="row mb-2">
        <span class="card-text col"> 
          <img src="/images/{{this.language}}.svg" class="lang-flag">
          <span class="lang-name">{{this.language}}</span>
        </span>
        <span class="card-text col stylize">{{this.level}}</span>
    </div>

    <div class="row mb-2">
        <span class="card-text col stylize">{{this.locationType}}</span>
        {{#if this.location}}
        <span>({{this.location}})</span>
        {{/if}}
    </div>

    <div class="row mb-2">
        <span class="card-text col">
          <span class="stylize">{{this.classType}}</span>
          {{#if this.maxGroupSize}}
          <span>(max. {{this.maxGroupSize}} students)</span>
          {{/if}}
        </span>
    </div>

    <div class="row">
        <span class="card-text col"><i class="bi bi-clock-fill me-2"></i>{{this.duration}} Minutes</span>
    </div>

  </div>
</div>
{{/each}}

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.15/index.global.min.js"></script>
<script>
  let managedClassId = null
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var events = {{{ events }}}; // Injected events data
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        },
        eventTimeFormat: {
            hour: '2-digit',
            minute: '2-digit',
            meridiem: false,
            hour12: false
        },
        events: events,
        themeSystem: 'bootstrap5',
        eventDidMount: function(info) {
          const hoverCard = document.getElementById(info.event.id);
          const manageClass = document.getElementById(info.event.id + '-manage');
          
          // Hover event listeners to show and hide the tooltip
          info.el.addEventListener('mouseenter', function() {
            hoverCard.style.display = 'block';
          });

          info.el.addEventListener('mouseleave', function() {
            hoverCard.style.display = 'none';
          });

          info.el.addEventListener('mousemove', function(e) {
            hoverCard.style.top = (e.clientY + 15) + 'px';
            hoverCard.style.left = (e.clientX + 15) + 'px';
          });

          // manage class
          info.el.addEventListener('click', function(e) {
            if (managedClassId) document.getElementById(managedClassId + '-manage').style.display = 'none';
            manageClass.style.display = 'block';
            managedClassId = info.event.id
          });
        }
    });
    calendar.render();
});
</script>